In [21]:
import requests
import pandas as pd
from datetime import datetime, timedelta

In [5]:
url = 'https://aqueous-caverns-33840.herokuapp.com/api/v1/responses'
response = requests.get(url)
res = json.loads(response.text)['data']

In [22]:
data_array = []
for record in res:
    data_array.append(record['attributes'])
df_response = json_normalize(data_array)
df_response = df_response[['question_id','course_id','student_id', 'created_at','choice_id']]
df_response['created_at'] = pd.to_datetime(df_response['created_at'], format='%Y%m%d %H:%M:%S')
df = df_response
df[df.created_at > datetime.now() - timedelta(days=10)]

      question_id  course_id student_id          created_at  choice_id
0               1         10          1 2019-05-23 13:31:38          1
1               2         10          1 2019-05-23 13:31:38          3
2               1         20          1 2019-05-23 13:31:38          1
3               2         20          1 2019-05-23 13:31:38          4
4               1         30          1 2019-05-23 13:31:38          1
5               2         30          1 2019-05-23 13:31:38          3
6               1         31          1 2019-05-23 13:31:38          1
7               2         31          1 2019-05-23 13:31:38          7
8               1         50          1 2019-05-23 13:31:38          1
9               2         50          1 2019-05-23 13:31:38          4
10              1         10          2 2019-05-23 13:31:38          2
11              2         10          2 2019-05-23 13:31:38          6
12              1         17          2 2019-05-23 13:31:38          1
13              2         17          2 2019-05-23 13:31:38          6
14              1         21          2 2019-05-23 13:31:38          1
15              2         21          2 2019-05-23 13:31:38          5
16              1         34          2 2019-05-23 13:31:38          1
17              2         34          2 2019-05-23 13:31:38          5
18              1         43          2 2019-05-23 13:31:38          2
19              2         43          2 2019-05-23 13:31:38          6
20              1          2          3 2019-05-23 13:31:38          1
21              2          2          3 2019-05-23 13:31:38          5
22              1         13          3 2019-05-23 13:31:38          1
23              2         13          3 2019-05-23 13:31:38          6
24              1         25          3 2019-05-23 13:31:38          1
25              2         25          3 2019-05-23 13:31:38          7
26              1         31          3 2019-05-23 13:31:38          1
27              2         31          3 2019-05-23 13:31:38          7
28              1         49          3 2019-05-23 13:31:38          1
29              2         49          3 2019-05-23 13:31:38          5
...           ...        ...        ...                 ...        ...
4266            1          8         48 2019-05-23 13:31:38          1
4267            2          8         48 2019-05-23 13:31:38          5
4268            1         11         48 2019-05-23 13:31:38          1
4269            2         11         48 2019-05-23 13:31:38          4
4270            1         28         48 2019-05-23 13:31:38          1
4271            2         28         48 2019-05-23 13:31:38          3
4272            1         39         48 2019-05-23 13:31:38          1
4273            2         39         48 2019-05-23 13:31:38          4
4274            1         43         48 2019-05-23 13:31:38          1
4275            2         43         48 2019-05-23 13:31:38          5
4276            1          2         49 2019-05-23 13:31:38          1
4277            2          2         49 2019-05-23 13:31:38          5
4278            1         19         49 2019-05-23 13:31:38          1
4279            2         19         49 2019-05-23 13:31:38          6
4280            1         26         49 2019-05-23 13:31:38          1
4281            2         26         49 2019-05-23 13:31:38          6
4282            1         32         49 2019-05-23 13:31:38          1
4283            2         32         49 2019-05-23 13:31:38          5
4284            1         48         49 2019-05-23 13:31:38          1
4285            2         48         49 2019-05-23 13:31:38          5
4286            1          6         50 2019-05-23 13:31:38          1
4287            2          6         50 2019-05-23 13:31:38          5
4288            1         17         50 2019-05-23 13:31:38          2
4289            2         17         50 2019-05-23 13:31:38          5
4290            1         28         50 2019-05-23 13:31:38          2
4291            2         28         50 2019-05-23 13:31:38          4
4292            1         39         50 2019-05-23 13:31:38          1
4293            2         39         50 2019-05-23 13:31:38          6
4294            1         41         50 2019-05-23 13:31:38          2
4295            2         41         50 2019-05-23 13:31:38          5

[4296 rows x 5 columns]

In [19]:
df.head()

   question_id  course_id student_id          created_at  choice_id
0            1         10          1 2019-05-23 13:31:38          1
1            2         10          1 2019-05-23 13:31:38          3
2            1         20          1 2019-05-23 13:31:38          1
3            2         20          1 2019-05-23 13:31:38          4
4            1         30          1 2019-05-23 13:31:38          1

In [13]:
food_group = df_response[df_response.question_id == 1].groupby('student_id')['choice_id'].value_counts()

In [15]:
df = df_response

In [17]:
df[df.question_id == 2].student_id.value_counts()

2     45
32    45
50    45
28    45
39    45
33    45
27    45
15    45
34    45
31    45
44    45
30    45
3     45
49    44
41    44
7     44
23    44
5     44
18    44
8     44
24    44
6     43
25    43
38    43
45    43
37    43
12    43
21    43
22    43
16    43
20    43
1     43
47    42
36    42
35    42
9     42
42    42
11    42
4     42
26    42
29    42
40    42
14    41
43    41
48    41
19    40
46    40
13    39
10    39
17    37
Name: student_id, dtype: int64

In [14]:
food_group.head()

student_id  choice_id
1           1            34
            2             9
10          2            27
            1            12
11          1            27
Name: choice_id, dtype: int64

In [12]:
df_response.head()

   question_id  course_id student_id          created_at  choice_id
0            1         10          1 2019-05-23 13:31:38          1
1            2         10          1 2019-05-23 13:31:38          3
2            1         20          1 2019-05-23 13:31:38          1
3            2         20          1 2019-05-23 13:31:38          4
4            1         30          1 2019-05-23 13:31:38          1

Get out the proportion of food and sleep stuff

In [ ]:
df_answer['created_at'] = pd.to_datetime(df_answer['created_at'], format='%Y%m%d %H:%M:%S')

In [8]:
res[0]

{'id': '1',
 'type': 'response',
 'attributes': {'id': 1,
  'question_id': 1,
  'course_id': 10,
  'student_id': '1',
  'text_answer': 'nil',
  'choice_id': 1,
  'answer_type': 'id',
  'question': {'id': 1,
   'question': 'Did you eat breakfast?',
   'category_id': 1,
   'created_at': '2019-05-23T13:31:38.000Z',
   'updated_at': '2019-05-23T13:31:38.000Z'},
  'choice': {'id': 1,
   'question_id': 1,
   'choice': 'yes',
   'correct': None,
   'created_at': '2019-05-30T00:27:10.296Z',
   'updated_at': '2019-05-30T00:27:10.296Z'},
  'correct': None,
  'updated_at': '2019-05-23T13:31:38.000Z',
  'created_at': '2019-05-23T13:31:38.000Z'}}

In [7]:
pd.DataFrame(res)

                                             attributes id      type
0     {'id': 1, 'question_id': 1, 'course_id': 10, '...  1  response
1     {'id': 2, 'question_id': 2, 'course_id': 10, '...  2  response
2     {'id': 1, 'question_id': 1, 'course_id': 20, '...  1  response
3     {'id': 2, 'question_id': 2, 'course_id': 20, '...  2  response
4     {'id': 1, 'question_id': 1, 'course_id': 30, '...  1  response
5     {'id': 2, 'question_id': 2, 'course_id': 30, '...  2  response
6     {'id': 1, 'question_id': 1, 'course_id': 31, '...  1  response
7     {'id': 2, 'question_id': 2, 'course_id': 31, '...  2  response
8     {'id': 1, 'question_id': 1, 'course_id': 50, '...  1  response
9     {'id': 2, 'question_id': 2, 'course_id': 50, '...  2  response
10    {'id': 1, 'question_id': 1, 'course_id': 10, '...  1  response
11    {'id': 2, 'question_id': 2, 'course_id': 10, '...  2  response
12    {'id': 1, 'question_id': 1, 'course_id': 17, '...  1  response
13    {'id': 2, 'question_id': 2, 'course_id': 17, '...  2  response
14    {'id': 1, 'question_id': 1, 'course_id': 21, '...  1  response
15    {'id': 2, 'question_id': 2, 'course_id': 21, '...  2  response
16    {'id': 1, 'question_id': 1, 'course_id': 34, '...  1  response
17    {'id': 2, 'question_id': 2, 'course_id': 34, '...  2  response
18    {'id': 1, 'question_id': 1, 'course_id': 43, '...  1  response
19    {'id': 2, 'question_id': 2, 'course_id': 43, '...  2  response
20    {'id': 1, 'question_id': 1, 'course_id': 2, 's...  1  response
21    {'id': 2, 'question_id': 2, 'course_id': 2, 's...  2  response
22    {'id': 1, 'question_id': 1, 'course_id': 13, '...  1  response
23    {'id': 2, 'question_id': 2, 'course_id': 13, '...  2  response
24    {'id': 1, 'question_id': 1, 'course_id': 25, '...  1  response
25    {'id': 2, 'question_id': 2, 'course_id': 25, '...  2  response
26    {'id': 1, 'question_id': 1, 'course_id': 31, '...  1  response
27    {'id': 2, 'question_id': 2, 'course_id': 31, '...  2  response
28    {'id': 1, 'question_id': 1, 'course_id': 49, '...  1  response
29    {'id': 2, 'question_id': 2, 'course_id': 49, '...  2  response
...                                                 ... ..       ...
4266  {'id': 1, 'question_id': 1, 'course_id': 8, 's...  1  response
4267  {'id': 2, 'question_id': 2, 'course_id': 8, 's...  2  response
4268  {'id': 1, 'question_id': 1, 'course_id': 11, '...  1  response
4269  {'id': 2, 'question_id': 2, 'course_id': 11, '...  2  response
4270  {'id': 1, 'question_id': 1, 'course_id': 28, '...  1  response
4271  {'id': 2, 'question_id': 2, 'course_id': 28, '...  2  response
4272  {'id': 1, 'question_id': 1, 'course_id': 39, '...  1  response
4273  {'id': 2, 'question_id': 2, 'course_id': 39, '...  2  response
4274  {'id': 1, 'question_id': 1, 'course_id': 43, '...  1  response
4275  {'id': 2, 'question_id': 2, 'course_id': 43, '...  2  response
4276  {'id': 1, 'question_id': 1, 'course_id': 2, 's...  1  response
4277  {'id': 2, 'question_id': 2, 'course_id': 2, 's...  2  response
4278  {'id': 1, 'question_id': 1, 'course_id': 19, '...  1  response
4279  {'id': 2, 'question_id': 2, 'course_id': 19, '...  2  response
4280  {'id': 1, 'question_id': 1, 'course_id': 26, '...  1  response
4281  {'id': 2, 'question_id': 2, 'course_id': 26, '...  2  response
4282  {'id': 1, 'question_id': 1, 'course_id': 32, '...  1  response
4283  {'id': 2, 'question_id': 2, 'course_id': 32, '...  2  response
4284  {'id': 1, 'question_id': 1, 'course_id': 48, '...  1  response
4285  {'id': 2, 'question_id': 2, 'course_id': 48, '...  2  response
4286  {'id': 1, 'question_id': 1, 'course_id': 6, 's...  1  response
4287  {'id': 2, 'question_id': 2, 'course_id': 6, 's...  2  response
4288  {'id': 1, 'question_id': 1, 'course_id': 17, '...  1  response
4289  {'id': 2, 'question_id': 2, 'course_id': 17, '...  2  response
4290  {'id': 1, 'question_id': 1, 'course_id': 28, '...  1  response
4291  {'id': 2, 'question_id': 2, 'course_id': 28, '...  2  response
4292  {'id': 1, 'question_id': 1, 'course_id': 39, '...  1  response
4293  {'id': 2, 'question_id': 2, 'course_id': 39, '...  2  response
4294  {'id': 1, 'question_id': 1, 'course_id': 41, '...  1  response
4295  {'id': 2, 'question_id': 2, 'course_id': 41, '...  2  response

[4296 rows x 3 columns]

In [3]:
# Analysis Suite
import sys
import scipy
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
from IPython import embed
import seaborn as sns

# Development Suite
import datetime as dt
import IPython
from IPython import embed
import csv
from datetime import timedelta

# HTTP Suite
from pandas.io.json import json_normalize
import requests
import json
import dateutil.parser

# sklearn Analysis Suite
from sklearn import model_selection
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import median_absolute_error

# sklearn Model Suite
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

import pickle

class SinatraApi:

    @classmethod
    def all_answers(cls):
        data = cls.__get_json(url='https://aqueous-caverns-33840.herokuapp.com/api/v1/answers')
        data_array = []
        for record in data:
            data_array.append(record['attributes'])
        df_answer = pd.DataFrame(data_array)
        df_answer = df_answer[['question_id','course_id','student_id', 'created_at','text_answer']]
        df_answer['created_at'] = pd.to_datetime(df_answer['created_at'], format='%Y%m%d %H:%M:%S')
        df_answer = df_answer.rename({'text_answer': 'choice_id'}, axis='columns')
        return df_answer

    @classmethod
    def all_responses(cls):
        data = cls.__get_json(url='https://aqueous-caverns-33840.herokuapp.com/api/v1/responses')
        data_array = []
        for record in data:
            data_array.append(record['attributes'])
        df_response = json_normalize(data_array)
        df_response = df_response[['question_id','course_id','student_id', 'created_at','choice_id']]
        df_response['created_at'] = pd.to_datetime(df_response['created_at'], format='%Y%m%d %H:%M:%S')
        return df_response

    @classmethod
    def all_data(cls):
        df = pd.concat([cls.all_responses(), cls.all_answers()])
        embed()
        df['choice_id'] = df['choice_id'].astype('float64')
        df['student_id'] = df['student_id'].astype('int64')
        return df

    @classmethod
    def __get_json(cls, url):
        response = requests.get(url)
        return json.loads(response.text)['data']

class ParseSurveyData(SinatraApi):

    def get_data():
        return SinatraApi.all_data()

    @classmethod
    def parse_data(cls):
        df = cls.get_data()
        dataset = []
        for s in df.student_id.unique():
            student_data = cls.data_parse(quiz_data(s, df), survey_data(s, df))
            for record in student_data:
                dataset.append(record)
        return dataset

    @classmethod
    def data_parse(cls, quiz_data, survey_data):
        student_array = []
        for index, row in quiz_data.iterrows():
            columns = ['choice_id','choice_id_4.0','choice_id_5.0','choice_id_6.0','choice_id_7.0']
            if index == 0:
                survey_date = survey_data[(survey_data.created_at <= row.created_at)]
                percent_survey = []
                for col in columns:
                    try:
                        x = survey_date[col].value_counts(normalize=True).loc[1]
                    except: # doesn't account for if there are no surveys
                        x = 0.0
                    percent_survey.append(x)

                student_array.append({'score':row['choice_id'],
                                      'data': percent_survey})
            else:
                survey_date = survey_data[(survey_data.created_at <= row.created_at)
                                          & (survey_data.created_at > quiz_data.iloc[index - 1].created_at) ]
                percent_survey = []
                for col in columns:
                    try:
                        x = survey_date[col].value_counts(normalize=True).loc[1]
                    except: # doesn't account for if there are no surveys
                        x = 0.0
                    percent_survey.append(x)

                student_array.append({'score':row['choice_id'],
                                      'data': percent_survey})
        return student_array

    @classmethod
    def survey_data(cls, s, df):
        survey_data = pd.concat([cls.food_data(s, df), cls.sleep_data(s, df)], sort=False)
        survey_data = survey_data.sort_values(['created_at'])
        return survey_data

    @classmethod
    def food_data(cls, s, df):
        food_data = df[(df.student_id == s) & (df.question_id == 1)] # food data for student
        food_data = food_data[['created_at', 'choice_id']]
        idx = (food_data['choice_id'] == 2)
        food_data.loc[idx,['choice_id']] = food_data.loc[idx,['choice_id']] - 2
        return food_data

    @classmethod
    def sleep_data(cls, s, df):
        sleep_data = cls.sleep_dummies(df)[(cls.sleep_dummies(df).student_id == s)] # sleep data for student
        sleep_data = sleep_data[['created_at','choice_id_4.0','choice_id_5.0', 'choice_id_6.0', 'choice_id_7.0']]
        return sleep_data

    @staticmethod
    def sleep_dummies(df):
        return pd.get_dummies(df[(df.question_id == 2)],
                              drop_first=True,
                              columns=['choice_id'])

    @classmethod
    def quiz_data(cls, s, df):
        quiz_data = df[(df.student_id == s) & (df.question_id == 3)]
        quiz_data = quiz_data.sort_values(['created_at'])[['choice_id', 'created_at']].reset_index()
        return quiz_data

    @classmethod
    def score_prediction(cls, student_processed_data): # use with student_data fxn
        best_model = cls.model_extraction()
        prediction = best_model.predict(student_processed_data)
        prediction = round(prediction[0], 2)

        return {
                'score': prediction,
                'meals_missed': 1 - student_processed_data[0][0],
                'sleep_quality':
                    { 'none': 1 - sum(student_processed_data[0][1:5]),
                    'less_than': student_processed_data[0][1],
                    'usual': student_processed_data[0][2],
                    'more_than': student_processed_data[0][3],
                    'way_more': student_processed_data[0][4]
                    }
                }

    @classmethod
    def model_extraction(cls, file_path='./data/models/grade_prediction_gbr_model.pickle'):
        with open(file_path, "rb") as f:
            best_model = pickle.load(f)
        return best_model

    @classmethod
    def student_data(cls, student_id, df = get_data()):
        student_id = int(student_id)
        student_survey_data = cls.survey_data(student_id, df)
        student_quiz_data = cls.quiz_data(student_id, df)
        if len(student_survey_data) > 0:
            all_student_data =  cls.data_parse(student_quiz_data, student_survey_data)
            return [all_student_data[0]['data']]
        else:
            return None

KeyboardInterrupt: